<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
    <header>
        <h1>Meu site</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>Olá, mundo!</h2>
            <p>Este   um exemplo de um site em HTML5.</p>
        </section>
    </main>
    <footer>
        <p>Desenvolvido por mim</p>
    </footer>
</body>
</html>
